{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Keep up to speed with your running stats and log your favourite trails </p>
    <figure class="image is-5x3>">
      <iframe
        class="has-ratio"
        width="800"
        height="480"
        src="https://rb.gy/7uxrzd"
        frameborder="0"
      ></iframe>
    </figure>
  </div>
</section>
