
<form action="/dashboard/addtrail" method="POST">
  <div class="field">
    <label class="label">Your new trail</label> 
    <input class="input" type="text" placeholder="Enter trail name" name="title">
  </div>
  <div class="field">
    <label class="label">Location</label>
    <input class="input" type="text" placeholder="Enter trail location" name="location">
  </div>
  <button class="button is-link">Add Trail</button>
</form>
