<form class="box" action="/trail/{{trail._id}}/addresult" method="POST">
  <label>Enter your latest run details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" trailholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" trailholder="Enter Artist" name="artist">
      </div>
      <div class="field">
        <input class="input" type="text" trailholder="Enter duration" name="duration">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Result</button>
</form>
