<form class="box" action="/trail/{{trail._id}}/addresult" method="POST">
  <label>Enter your latest run details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Distance" name="distance">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Duration" name="duration">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Date" name="date">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Result</button>
</form>
